#Q.1) Find out all the types of errors that we have encountered inour lectures and why?

##ANS: 1) In variables we get different values for the variable ten , Ten and TEN because Python is a case sensitive language so it will store different values for same variables but in different case

##2)In reserved keywords in python we get one error while doing a program is that
 **print = "HI There"
   print(print)**
because we cannot use reserved keywords as an variables .

##3) We cannot store 50.0 value as an integer because it is float data type not an integer if while doing it  get an error

#Q.2)Take input A and B and print their sum, multiplication , division , squares of the numbers

In [2]:
 X = 1729
 Y = 9

In [3]:
print(X+Y)

1738

In [4]:
print(X-Y)

1720

In [6]:
print(X*Y)

15561

In [8]:
print(X/Y)

192.11111111111111

In [9]:
print(X**2)

2989441

In [10]:
print(Y**2)

81

#Q.3)3. How many reserved keywords are there in python and why should not use them as varaible name?

##Ans: Keywords in Python-
1.False 2.await 3.else 4.import	5.pass 6.None 7.break 8.except 9.in
10.raise 11.True 12.class 13.finally 14.is 15.return 16.and	17.continue	18.for	19.lambda	20.try 21.as	22.def	23.from	24.nonlocal	25.while
26.assert	28.del	29.global	30.not	31.with
32.async	33.elif	34.if	35.or	36.yield

We cannot use keywords as variables in python because keywords are predefined in python.In python they have special meaning in compiler
also keywords are used to define the syntax so

#4. Create email ids with your user inputs. In the following format -->
  lastname.firstname@gamilcom

In [11]:
lastname ="Nigudkar"
firstname = "Nikhil"

In [14]:
print(f"{lastname}.{firstname}@gamil.com")

Nigudkar.Nikhil@gamil.com

#Q,5)5. try to print the follwing lines 
  - Hi I'm Sunny
  - MY ADDRESS is 22\3
  - I earn 20$ daily.

In [8]:
Name = "Sunny"
Address = " 22\\3"
daily_income = "I earn 20$ daily"

In [10]:
print(f"""Hi I'm {Name}
My address is{Address}
{daily_income}""")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily

##Q.6). Take user input to fill a form for your college and create their email ID's 
   (name, address, Date of birth, etc) and print their email address

In [14]:
Name = input("Name : ")
Address = input("Address: ")
Date_of_Birth = input("Date_of_Birth")

Name : Nikhil
Address: At post- jeur tal- karamala dist-solapur
Date_of_Birth20_Apr_2000

In [15]:
print(f"{Name}.{Date_of_Birth}.gmail.com")

Nikhil.20_Apr_2000.gmail.com

##Q.7) Convert the following 
  - "22.4" into integer
  - "22" into Complex No

In [23]:
A = "22.4"
print(f"Data Type  before :{type(A)}")
A = float (A)
print(f"Data Type  after :{type(A)}")

Data Type  before :<class 'str'>
Data Type  after :<class 'float'>

In [25]:
A = int(A)
print(A)

22

In [27]:
B = 22
print(f"Data Type  before :{type(B)}")
B = complex (B)
print(f"Data Type  after :{type(B)}")

Data Type  before :<class 'int'>
Data Type  after :<class 'complex'>

In [28]:
B = complex(B)

In [29]:
print(B)

(22+0j)