1. Write a Python Program to Find the Factorial of a Number?

In [ ]:
num = 7
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

2. Write a Python Program to Display the multiplication Table?

In [ ]:
x = int(input("Enter the number: "))
print(f"The table of",x)
for i in range(1,11):
    print(x*i)

Enter the number: 5
The table of 5
5
10
15
20
25
30
35
40
45
50

3. Write a Python Program to Print the Fibonacci sequence?

In [1]:
def fibonacci(n):
    a=0
    b=1
    if n<0:
        print("Incorrect input")
    elif n==0:
        return a
    elif n==1:
        return b
    else:
        for i in range(2,n):
            c = a+b
            a =b
            b =c
        return b

4. Write a Python Program to Check Armstrong Number?

In [2]:
num = int(input("Enter a number: "))
sum = 0

temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

5. Write a Python Program to Find Armstrong Number in an Interval?

In [3]:
lower = 100
upper = 1000
for num in range(lower,upper+1):
    order = len(str(num))
    sum = 0
    temp = num

6. Write a Python Program to Find the Sum of Natural Numbers?

In [4]:
num = 16

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136