Q.1) What are the two values of the Boolean data type? How do you write them?

Ans--->  There are two values of the Boolean data type which are True and False.
If the given conditions are matched with expression then that will fetch us True as output and if the it does not match then it becomes False

Q.2) What are the three different types of Boolean operators?

Ans---> And , Or , Not are the three boolean operators.

Q.3) Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

AND Truth Table

Input | Output
 -|-|
 A B |out
 0 0 |0
 0 1 |0
 1 0 |0
 1 1 |1

 Or Truth table 

 Input | Output
 -|-|
 A B |out
 0 0 |0
 0 0 |1
 1 0 |1
 1 1 |1

 And Truth table 

 Input | output
 - | -
 1 | 0
 0 | 1


In these tables we can treat 0 as false value and 1 as Truth value.
In case of And we need both the conditions to be true then only outpu will be true otherwise it will be false.
In case of Or we need only one input true then the output will be true , if both the output are false then output will be false.

Q.4) What are the values of the following expressions?
1. (5 > 4) and (3 == 5)


2. not (5 > 4)


3. (5 > 4) or (3 == 5)


4. not ((5 > 4) or (3 == 5))


5. (True and True) and (True == False)


6. (not False) or (not True)

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
not ((5 > 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

Q.5) What are the six comparison operators?

Ans ---> Following are the comparison operators.

 
< ,  >, <=, >= , ==  , !=

Q.6). How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

Ans--->Assignment operator '=' is used to assign the value to the variable . equal to operator is used '==' is used to check the both the values on right side and left side are equal or not.
e.g: 
    
     A = 12

     B = 12

     if A==B :
        print("A and B are equal")
     else:
        print("A and B are not equal")

Q.7) Identify the three blocks in this code:
spam = 0
if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

Ans---> There are two if and one else blocks.

Q.8) Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [6]:
spam = int(input("Enter the spam value: "))
print(f"The stored in spam is {spam}")
if spam == 1:
    print(f"Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

Enter the spam value: 3
The stored in spam is 3
Greetings!

Q.9)If your programme is stuck in an endless loop, what keys youâ€™ll press?

Ans---> CTRL+C

Q.10) How can you tell the difference between break and continue?

ANS---> break completely stops the loop but continue skeeps the loop

Q.11) In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

ans---> There will be no difference in the output of the following case
these are different ways of getting same output

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

Q.12) Write a short program that prints the numbers 1 to 10 using a for 
loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Q.13)If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

Ans---> The function can be called with spam.bacon()